@{
    string BlogAdet = ViewBag.BlogAdet;
    string WorkAdet = ViewBag.WorkAdet;
    string CategoryAdet = ViewBag.CategoryAdet;
    string CommentAdet = ViewBag.CommentAdet;
    string CommentOnaysizAdet = ViewBag.CommentOnaysizAdet;
    string MessageAdet = ViewBag.MessageAdet;
}


<div class="dkadem-nav-row">
    <a href="@Url.Content("/Admin/AdminEdit")">Edit Profile</a>
    <a href="@Url.Content("/Admin/LogOut")" style="margin-left:3px;margin-right:15px;background:rgba(255, 16, 0, 0.82);">Logout</a>
    <a href="@Url.Content("/Admin/Blogs")">Blogs(@BlogAdet)</a> |
    <a href="@Url.Content("/Admin/Works")">Works(@WorkAdet)</a> |
    <a href="@Url.Content("/Admin/Categories")">Categories(@CategoryAdet)</a> |
    <a href="@Url.Content("/Admin/Comments")">Comments(@CommentAdet)(@CommentOnaysizAdet)</a> |
    <a href="@Url.Content("/Admin/Messages")">Messages(@MessageAdet)</a>


</div>