@model MVC_Web.Models.User
@{
    ViewBag.Title = "AdminEdit";
    Layout = "~/Views/_LayoutAdmin.cshtml";
}

<div class="container">
    <div class="row">
        <div class="well ">
            <form method="post">

                <h4 style="text-align:center;">Edit Admin Account</h4>

                <!-- Name input-->
                <div class="form-group">
                    <label for="name">Name</label>
                    <input class="form-control" id="NameSurname" name="NameSurname" type="text" value="@Model.NameSurname">
                </div>

                <div class="form-group">
                    <label for="name">Name</label>
                    <input class="form-control" id="name" name="name" type="text" value="@Model.Username">
                </div>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input class="form-control" id="name" name="name" type="text" value="@Model.Password">
                </div>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input class="form-control" id="name" name="name" type="text" value="@Model.Mail">
                </div>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input class="form-control" id="name" name="name" type="text" value="@Model.Title">
                </div>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input class="form-control" id="name" name="name" type="text" value="@Model.Gsm">
                </div>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input class="form-control" id="name" name="name" type="text" value="@Model.Address">
                </div>
                <div class="form-group">
                    <label for="name">Name</label>
                    <input class="form-control" id="name" name="name" type="text" value="@Model.WebSite">
                </div>
                <!-- Form actions -->
                <div class="form-group">
                    <div class="col-md-12 text-right">
                        <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                    </div>
                </div>
            </form>
        </div>

    </div>
</div>