@model MVC_Web.Models.Work
@{
    ViewBag.Title = "WorkDetail";
    Layout = "~/Views/_LayoutAdmin.cshtml";
}
<div class="container">
    
    <div class="row">
        <h3 style="text-align:center;">@Model.Header</h3>


        <center><img src="@Url.Content(Model.ImagePath)" class="img-responsive" /> </center>
        <p style="padding:10px;">@Model.Content</p>
    </div>
</div>


<div class="container alttaraf">
        <a class="btn btn-default" href="@Url.Content("/Admin/Works")">Back</a>
        <a class="btn btn-success" href="@Url.Content("/Admin/WorkEdit/"+Model.Id)">Edit</a>
  
</div>

