@model MVC_Web.Models.Article
           @using MVC_Web.Models;
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/_LayoutPage.cshtml";
    List<Comment> yorumlar = Model.Comments.Where(x=>x.isCheck==true).OrderByDescending(x=>x.AddedDate).ToList();

}
<script src="~/Content/js/check.js"></script>
<link href="~/Content/css/comment.css" rel="stylesheet" />

    <div class="agile_about">
        <div class="agile_about_pos">
            <img src="~/Content/images/1.png" alt=" " class="img-responsive" />
        </div>
    </div>
    <div class="agileits_agile_about">
        <h3>@Model.Header</h3>
        <br />

        <center>
            <div class="agile_about_blog_right_grid_list">
                <ul>
                    <li><span class="glyphicon glyphicon-user" aria-hidden="true"></span><a href="#">@Model.User.NameSurname</a></li>
                    <li style="margin-right:10px"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span><a href="#">@Model.Comments.Where(x => x.isCheck == true).ToList().Count Comments</a></li>
                    <li><span class="glyphicon glyphicon-edit"></span><a href="#">@Model.Category.Name</a></li>
                </ul>
            </div><br />
            <img src="@Model.ImagePath" class="img-responsive" />
        </center>


        <div class="dkadem_work_detail_p" style="margin:30px;">
            <p>
                @Model.Content
            </p>
        </div>





        <div class="dkadem">
            <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
            <div class="row">
                <!-- Contenedor Principal -->
                <div class="comments-container">
                    <h1>Comments</h1>
                    <ul id="comments-list" class="comments-list">

                        @if (yorumlar.Count > 0)
                        {
                            foreach (Comment item in yorumlar)
                            {
                                if (item.CommentID == null)
                                {
                                    <li>
                                        <div class="comment-main-level">
                                            <!-- Avatar -->
                                            <div class="comment-avatar"><img src="http://placehold.it/64x64" alt=""></div>
                                            <!-- Contenedor del Comentario -->
                                            <div class="comment-box">
                                                <div class="comment-head">
                                                    <h6 class="comment-name">@item.NameSurname</h6>
                                                    <span>@item.AddedDate.Value.ToShortDateString() @item.AddedDate.Value.ToShortTimeString()</span>
                                                    <i class="fa fa-reply" data-id="@item.Id" data-name="@item.NameSurname" id="reply" onclick="replyCalistir(this)"></i>
                                                </div>
                                                <div class="comment-content">
                                                    @item.Text
                                                </div>
                                            </div>
                                        </div>
                                        @if (item.Comment1.Count > 0)
                                        {
                                            <ul class="comments-list reply-list">
                                                @foreach (Comment rr in item.Comment1.Where(x => x.isCheck == true).ToList())
                                                {
                                                    <li>
                                                        <!-- Avatar -->
                                                        <div class="comment-avatar"><img src="http://placehold.it/64x64" alt=""></div>
                                                        <!-- Contenedor del Comentario -->
                                                        <div class="comment-box">
                                                            <div class="comment-head">
                                                                <h6 class="comment-name">@rr.NameSurname</h6>
                                                                <span>@rr.AddedDate.Value.ToShortDateString() @rr.AddedDate.Value.ToShortTimeString()</span>
                                                            </div>
                                                            <div class="comment-content">
                                                                @rr.Text
                                                            </div>
                                                        </div>
                                                    </li>
                                                }



                                            </ul>
                                        }
                                    </li>
                                }
                            }
                        }

                    </ul>
                    <div class="yeni-Yorum">
                        <form id="CommentForm">
                            @Html.AntiForgeryToken()
                            <div class=" form-group">
                                <input hidden value="@Model.Id" name="ArticleID" id="ArticleID" />
                                <input hidden value="" name="CommentID" id="CommentID" />
                            </div>
                            <div class="form-group" hidden id="RefDiv">
                                <b>Ref :</b>
                                <input type="text" value="" readonly name="RefComment" id="RefComment" />
                                <span class="glyphicon glyphicon-remove" id="refRemove"></span>
                            </div>
                            <div class="form-group">
                                <b>*Name Surname :</b>
                                <input class="form-control" type="text" name="NameSurname" id="NameSurname" required />
                            </div>
                            <div class="form-group">
                                <b>*Email : </b>
                                <input class="form-control" type="email" name="Email" id="Email" required />
                            </div>
                            <div class="form-group">
                                <b>*Your Comment : </b>
                                <textarea rows="3" class="form-control" maxlength="399" required id="Text" name="Text"></textarea>
                            </div>
                            <div class="form-group">
                                <input class="btn btn-default" onclick="calistir()" value="Send Comment" />
                            </div>

                        </form>

                    </div>
                </div>
            </div>
        </div>


    </div>
